---
BasedOnStyle: Microsoft
AccessModifierOffset: '-1'
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignEscapedNewlines: Right
AlwaysBreakTemplateDeclarations: 'Yes'
BinPackArguments: 'false'
BinPackParameters: 'false'
ColumnLimit: '80'
MaxEmptyLinesToKeep: '1'
NamespaceIndentation: All
SpacesInParentheses: 'false'
PointerAlignment: Left
TabWidth: '1'
IndentWidth: '2'
UseTab: Never
SortIncludes: 'false'
IndentPPDirectives: 'BeforeHash'
LambdaBodyIndentation: 'Signature'
AlignArrayOfStructures: 'Right'
SpaceAfterCStyleCast: 'true'
FixNamespaceComments: 'true'
TypenameMacros: ["TKResourceType", "TKComponentType", "TKDeclareParam"]
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  # Headers in <> from specific external libraries.
  - Regex:           'DebugNew.h'
    Priority:        4
  # Headers in <> without extension.
  - Regex:           '<([A-Za-z0-9\Q/-_\E])+>'
    Priority:        3
  # Headers in <> with extension.
  - Regex:           '<([A-Za-z0-9.\Q/-_\E])+>'
    Priority:        2
  # Headers in "" with extension.
  - Regex:           '"([A-Za-z0-9.\Q/-_\E])+"'
    Priority:        1

Language: 'Cpp'
Standard: 'c++17'

...
