---
BasedOnStyle: Microsoft
AccessModifierOffset: -1
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveDeclarations:
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterCaseLabel: true
  AfterUnion: true
  BeforeLambdaBody: true
BreakBeforeBraces: Allman
ColumnLimit: 120
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: DebugNew.h
    Priority: 4
  - Regex: <([A-Za-z0-9\Q/-_\E])+>
    Priority: 3
  - Regex: <([A-Za-z0-9.\Q/-_\E])+>
    Priority: 2
  - Regex: '"([A-Za-z0-9.\Q/-_\E])+"'
    Priority: 1
IndentPPDirectives: BeforeHash
IndentWidth: 2
NamespaceIndentation: All
PointerAlignment: Left
QualifierAlignment: Left
SeparateDefinitionBlocks: Always
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
SpacesInContainerLiterals: false
Standard: c++17
TabWidth: 1
TypenameMacros:
  - TKResourceType
  - TKComponentType
  - TKDeclareParam
