################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ToolKit/v16
/ToolKit/x64/Release_Static
/Samples/SpaceShooter/x64/Release_Static
/ToolKit/x64/Debug_Static
/Samples/SpaceShooter/x64/Debug_Static
/.vs/ToolKit/DesignTimeBuild
/ToolKit/x64
/Samples/SpaceShooter/x64
/Editor/obj/Debug_Editor/netcoreapp3.0
/Editor/obj/Release_Editor/netcoreapp3.0
/Editor/bin/Debug_Editor/netcoreapp3.0
/Editor/bin/Release_Editor/netcoreapp3.0
/ToolKit/Release_Editor
/Bin
