################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ToolKit/v16
/ToolKit/x64/Release_Static
/Samples/SpaceShooter/x64/Release_Static
/ToolKit/x64/Debug_Static
/Samples/SpaceShooter/x64/Debug_Static
/.vs/ToolKit/DesignTimeBuild
/ToolKit/x64
/Samples/SpaceShooter/x64
/Editor/obj/Debug_Editor/netcoreapp3.0
/Editor/obj/Release_Editor/netcoreapp3.0
/Editor/bin/Debug_Editor/netcoreapp3.0
/Editor/bin/Release_Editor/netcoreapp3.0
/ToolKit/Release_Editor
/Bin
/.vs
/.vs
/Dependency/Glm/out/build/x64-Debug
/Editor/x64
/x64/Debug
/CC/verbose.txt
/enc_temp_folder
/Utils/Import/.vs/Import/v16
/Import/x64
/Utils/Import/Import.pdb
/Utils/Import/Import.exe
/Utils/Import/Import.ilk
/Utils/Import/Import.ipdb
/Utils/Import/Import.iobj
/Utils/Import
/Test/x64
/Editor/editor.aps
/Resources/Engine/workspace.settings
/Web
Resources/Engine/workspace.settings
.editorconfig
/build
