[submodule "Dependency/SDL2"]
	path = Dependency/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.28.x
[submodule "Dependency/glm"]
	path = Dependency/glm
	url = https://github.com/g-truc/glm.git
[submodule "Dependency/tkimgui/imgui"]
	path = Dependency/tkimgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking