[submodule "Dependency/SDL2"]
	path = Dependency/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.28.x
[submodule "Dependency/glm"]
	path = Dependency/glm
	url = git@github.com:g-truc/glm.git
